body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #d6c3ae;
  color: #2b2b2b;
  font-size: 20px;
}

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #826f5b;
  border-bottom : 4px solid #2b2b2b;

}

/***********************  Footer Section   **************************/
footer {
  color: #000000;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ab9379;
  border-top: 4px solid #2b2b2b;

}

/*********** Splash Page ************************/
header {
  text-align: center;
  padding: 15px;
  background-color: #ab9379;
  border-bottom: 4px solid #2b2b2b;
}

header h1 {
  margin: 10px 0 10px 0;
  font-family: Montserrat, "Roboto", sans-serif;
  color: #2b2b2b;

}

header img {
  width: 250px;
  border-radius: 50px;
  border: 4px solid #2b2b2b;
}

.address {
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 18px;
}

.tagline {
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 20px;
}

/************* Sections ********************/
hr {
  border: none;
  border-top: 4px solid #ab9379;
  margin: 20px 0;
}

section h3 {
  font-family: Montserrat, "Roboto", sans-serif;
  color: #2b2b2b;
  margin-bottom: 20px;
  font-size: 25px;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #eee5dc;
  padding: 10px;
  border: 2px solid #cab7a3;


}

section ul {
  background-color: #eee5dc;
  padding: 10px 10px 10px 30px;
  margin-bottom: 15px;
  border: 2px solid #cab7a3;

}

section a {
  color: #7986ab;
  text-decoration: none;
  font-weight: bold;
}

section a:hover {
  color: #2b2b2b;
  text-decoration: underline;
  /** I was just having fun messing around with how to make the link look different
  I found letter-spacing when searching for how to implement my ideas **/
  letter-spacing: 4px;
  font-style: italic;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  display: block;
  height: auto;
}

.card video {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.media-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.media-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  background-color:  #eee5dc;
  padding: 10px;
  border: 1px solid #ab9379;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;

}

.iframe-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #ab9379;
  pointer-events: none;
}

.recursive-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/**************   Responsiveness   *****************/
@media (max-width: 650px) {
    nav {
      flex-direction: column;
    }

    .three-col {
      grid-template-columns: 1fr;
      justify-items: center;

    }
}

/**************   Contact Page   *****************/
.one-col {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 40px 15px 20px;
  background-color:  #eee5dc;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ab9379;

}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ab9379;

}
